*{margin: 0;padding: 0;list-style: none;box-sizing: border-box;}
.shopbox{
    /* background:greenyellow; */
    width:1200px;
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    margin: 50px auto;
    box-shadow: 0 0 5px pink;
}
li{
    display: flex;
    /* background:skyblue; */
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid black;
}
img{
    width: 150px;
    border:1px solid black;
    margin-left: 10px;;
}
.tops{
    display: flex;
    align-items: end;
    padding:10px 0;
}
.num{
    width:50px;
    line-height: 25px;
}
.cut,.add{
    padding:5px 10px;
}
.price{
    vertical-align: bottom;
}
.shop-title{
    padding:10px;
    /* background:red; */
    margin-bottom: 60px;
}

.title-small{
    font-size: 13px;
    color:#aaa
}
.cuplist{
    display: flex;
    background: skyblue;
    padding:50px 85px;
    justify-content: space-between;
}
